.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(20rem * 0.6);
  width: calc(11rem * 0.6);
  background-color: white;
  border-radius: 0.2rem;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;

  .overlayContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5rem;
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    border-radius: 0.2rem;
    height: 100%;
    margin-bottom: 0.5rem;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  .nameContainer {
    padding: 0.5rem;
    background-color: #233ea8;
    border-radius: 0.2rem;
    text-align: center;
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    font-weight: bold;
    color: white;
    white-space: nowrap;
  }
}

@media (min-width: 768px) {
  .container {
    height: calc(20rem * 0.8);
    width: calc(11rem * 0.8);
  }
}

@media (min-width: 1440px) {
  .container {
    height: 20rem;
    width: 11rem;
  }
}
